header {
  display: flex;
  width: 100vw;
  height: 20vh;
  background-color: blue;
  color: white;
  justify-content: center;
  align-items: center;
}
.searchArea {
  background-color: orange;
}
#displayArea {
  background-color: aquamarine;
  border: 10px solid black;
}
.container {
  max-width: 100vw;
  margin-top: 5vh;
}
#five_day {
  background-color: blueviolet;
}
#citySearch {
  margin-top: 50px;
}
.redbox {
  background-color: red;
}
.purpleBox {
  background-color: purple;
}
.yellowBox {
  background-color: yellow;
}
.orangeBox {
  background-color: orange;
}
.greenBox {
  background-color: green;
}
