header {
  display: flex;
  width: 100vw;
  height: 20vh;
  background-color: blue;
  color: white;
  justify-content: center;
  align-items: center;
}
.searchArea {
  /* background-color: orange; */
}
#displayArea {
  /* background-color: aquamarine; */
  border: 10px solid black;
  min-height: 32vh;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 60vw;
}
.container {
  max-width: 100vw;
  margin-top: 5vh;
}
#five_day {
  /* background-color: blueviolet; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}
#citySearch {
  margin-top: 5%;
}
.red {
  background-color: red;
}
.purple {
  background-color: rgb(240, 54, 240);
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
.green {
  background-color: green;
}
#localStorageItems {
  /* background-color: crimson; */
}
.button-group {
  margin-top: 5%;
}
.keyMap {
  margin-right: 2%;
}
.btn {
  width: 100%;
}

#searchBtn {
  margin-top: 5%;
}
.five_dayContainer {
  margin-top: 2%;
  margin-bottom: 2%;
}
.five_dayContainer h1 {
  text-align: center;
}

.card {
  color: white;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
